/**CSS reset*/
:root{
    --main-font:sans-serif;
    --font-size:16px;
    --main-color:#f7df1e;
    --second-color:#222;
    --main-modal-color:rgba(247,222,30,0.85);
    --second-modal-color:rgba(34,34,34,0.85);
    --container-width:1200px;

}
html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: ();
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/*menu hamburguesa*/
.header{
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 20px;
    font: bold;
}
.header h2{
    margin: 0 auto;
    text-align: center;
}


.seccion{
   padding: 2rem;
   padding-top: 4rem;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: var(--container-width);
   min-height: 100vh;
   text-align: center;
}

.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.panel{
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    z-index: 998;
    background-color: var(--second-modal-color);
    width: 100%;
    visibility: hidden;
    transform: translate(0,-150%);
    transition: transform -.3s ease;
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

.panel.is-active{
    transform: translate(0,0);
    visibility: visible;
}

/*Estilos Reloj*/

#reloj{
    font-size: 3rem;
}

.desactivar{
    cursor: not-allowed;
    pointer-events:none;
    opacity: 0.55;
}


/*Estilos eventos teclado*/
#cajon{
    background-color: #222;
    width: 1150px;
    height: 280px;
}

#pelota{
    background-color: yellow;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: translate(0px,210px);/* maxx */

}

/*Estilos scroll top boton*/

.scrolltop{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    outline:0;
    border:0;
    transition: all 0.3s ease-out; 
}

.scrolltop:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.ocultar{
    visibility: hidden;
    opacity: 0;
}


/*dark mode*/

.modedark{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    background-color: var(--second-color);
    width: 4rem;
    height: 4rem;
    color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease-out;
}

.oscuro{
    background-color: var(--second-color);
    color:var(--main-color);
}

.osucrobtn{
    background-color: var(--main-color);
}

/*Estado de Conexiones*/
.css{
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    visibility: hidden;
}

.activo{
    background-color: #CEFF25;
    visibility: inherit;
    position: sticky;
}

.desconectado{
    background-color: red;
    color: white;
    position: relative;
    visibility: inherit;
}


/*css Filtrosss*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    border: thin solid var(--dark-color);
    padding: 1rem;
}

.card{
    transition: all 0.3 ease-out;
    background-color: var(--second-color);
    padding: 0.5rem;
    color: var(--main-color);
}

img{
    width: 100%;
    height: auto;
}

.filter{
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    order: 1;
}